<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- A message -->
<%- messages() %>

<!-- Display any errors. -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<h2 id="logged">You are logged in! </h2>

<h2>Account Update</h2>

<form action="/account/account-management" method="post">
  <fieldset>
    <label>First Name: <input name="account_firstname" id="accountFirstname" type="text" value="<%= locals.account_firstname %>" required></label>
    <label>Last Name: <input name="account_lastname" id="accountLastname" type="text" value="<%= locals.account_lastname %>" required></label>
    <label>Email: <input name="account_email" id="accountEmail" type="email" value="<%= locals.account_email %>" placeholder="example@gmail.com" required></label>
    <button type="submit">UPDATE ACCOUNT</button>
    <input type="hidden" name="account_id" value="<%= locals.account_id %>">
  </fieldset>
</form>

<h2>Change Password</h2>

<form action="/account/account-management" method="post">
  <fieldset>
    <small>Password must be at least 12 characters long and include 1 capital letter, 1 number, and 1 special character.</small>
    <label>Password: <input name="account_password" type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required></label>
    <button type="submit">CHANGE PASSWORD</button>
    <input type="hidden" name="account_id" value="<%= locals.account_id %>">
  </fieldset>
</form>