<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- A message -->
<%- messages() %>

<!-- Display any errors. -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div id="update-acc">

<% if (locals.accountData.account_type == "Client") { %>
<h2>Welcome, <%= locals.accountData.account_firstname %></h2>
<% } %>

<% if (locals.accountData.account_type == "Employee" || locals.accountData.account_type == "Admin") { %>
  <h2>Welcome, <%= locals.accountData.account_firstname %></h2>
  <a href="/inv/add-classification">Add a Classification</a>
  <a href="/inv/add-inventory">Add an Inventory Item</a>
  <a href="/inv/">Manage/Edit Inventory</a>
<% } %>

<a href="/account/account-update">Update Account</a>

</div>