<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- A message -->
<%- messages() %>

<!-- Display any errors. -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<a class="return" href='/account/inbox/:<%= locals.accountData.account_id %>'>Return to Inbox</a>

<%- archived %>