<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- A message -->
<%- messages() %>

<!-- Display any errors. -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<ul>
  <li>Subject: <%= title %></li>
  <li>From: <%= locals.messageData.account_firstname %> <%= locals.messageData.account_lastname %></li>
  <li>Message: <%= locals.messageData.message_body %></li>
</ul>

<a class="return" href='/account/inbox/:<%= locals.accountData.account_id %>'>Return to Inbox</a>

<form>
  <button formaction='/account/message/:<%= locals.accountData.account_id %>' formmethod="get">Reply</button>
  <button formaction='/account/mark-read/:<%= locals.messageData.message_id %>' formmethod="post">Mark as Read</button>
  <button formaction='/account/mark-archived/:<%= locals.messageData.message_id %>' formmethod="post">Archive Message</button>
  <button formaction='/account/delete-message/:<%= locals.messageData.message_id %>' formmethod="post">Delete Message</button>
</form>