<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- A message -->
<%- messages() %>

<!-- Display any errors. -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<p>This is an internal system only. Recipients are limited to the three generic accounts.</p>

<p class="flash">All inputs are required.</p>

<form action='/account/send-message/:<%= locals.accountData.accountId %>' method="post">
  <label>To: <input type="text" name="message_to_display" value="<%= locals.message_to_name %>" required></label>
  <input type="hidden" name="message_to" value='<%= locals.message_from %>' required>

  <label>Subject: <br>
    <input type="text" name="message_subject" value="<%= locals.message_subject %>" required>
  </label>

  <label>Message: <br>
    <textarea name="message_body" id="" cols="30" rows="10" required>/////// Previous Message /////// <%= locals.message_body %></textarea>
  </label>

  <button type="submit">Send</button>

  <input type="hidden" name="message_from" value='<%= locals.accountId %>' required>

</form>