
<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    
<!-- A message - syntax?-->
<%- message %>

<!-- Display any errors. ????-->
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<form id="addInventoryForm" action="/inventory/add-inventory" method="post">
    <fieldset>
        <label>Make: <input name="inv_make" type="text" value="<%= locals.inv_make %>" required></label>
        <label>Model: <input name="inv_model" type="text" value="<% locals.inv_model %>" required></label>
        <label>Year: <input name="inv_year" type="number" value="<% locals.inv_year %>" required></label>
        <label>Description: <textarea name="inv_description" cols="30" rows="10" value="<% locals.inv_description %>" required></textarea></label>
        <label>Image: <input name="inv_image" type="text" value="<% locals.inv_image %>" required></label>
        <label>Thumbnail: <input name="inv_thumbnail" type="text" value="<% locals.inv_thumbnail %>" required></label>
        <label>Price: <input name="inv_price" type="number" value="<% locals.inv_price %>" required></label>
        <label>Miles: <input name="inv_miles" type="number" value="<% locals.inv_miles %>" required></label>
        <label>Color: <input name="inv_color" type="text" value="<% locals.inv_color %>" required></label>
        <label>Classification:</label>
        <%- options %>
        <button type="submit">ADD INVENTORY ITEM</button>
    </fieldset>
</form>